{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "@GSEBCore/layout.html.twig" %}

{% block title %}
  Plateforme - {{ parent() }}
{% endblock %}

{% block navbar %}

    <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    
        <a class="navbar-brand" href="{{ path('gseb_core_home') }}">Accueil</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="{{ path('gseb_historique_homepage') }}">Historique</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
{% endblock %}

{% block body %}

  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h1>Plateforme global</h1>

  <hr>
  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block sebplatform_body %}

  {% endblock %}

{% endblock %}
