{# src/GSEB/PlatformBundle/Resources/views/Action/modif.html.twig #}

{% extends "@GSEBPlatform/layout.html.twig" %}

{% block title %}
  Selection de la salle 
{% endblock %}

{% block sebplatform_body %}

  <h2>Choississez la salle correspondante</h2>
   <p>
    Affichage des salles disponibles :
  </p>
  <ul>
  {% for salle in resultat %}
              <li class="list-group" >
              <a href="{{ path('gseb_platform_demande_baie', {'id_salle': salle.id })  }}" class="btn btn-primary " role="button" >
                {{ salle.name }}, {{ salle.id }}, {{ salle.location_name }}
              </a>
                  
              </li>
  {% endfor %}
  </ul>
 

{% endblock %}