{% extends "@GSEBCore/layout.html.twig" %}
    {% block body %}

        <div class="jumbotron">
          <h1>Bienvenue sur le site FormDGSeb</h1>
        </div>
        <a href="{{ path('gseb_platform_homepage')  }}" class="btn btn-primary " role="button" >Accès à la plateforme</a>

        
    {% endblock %}
