{% extends "@GSEBCore/layout.html.twig" %}
    {% block body %}

        <div class="jumbotron">
          <h1>Bienvenue sur le site FormDGSeb</h1>
        </div>
        <div class="text-center">
            <a href="{{ path('login')  }}" class="btn btn-primary btn-lg " role="button" >Se connecter</a>
        </div>   
    {% endblock %}
