{# src/GSEB/PlatformBundle/Resources/views/Action/accueil.html.twig #}
{% extends "@GSEBCore/layout.html.twig" %}
    {% block body %}

        <div class="jumbotron">
          <h1>Création d'une demande</h1>
          
            <a class="btn btn-lg btn-primary" href="{{ path('gseb_platform_homeaction', {'action': 'add' }) }}" role="button">Ajouter &raquo;</a>
          </p>
        </div>
        <div class="jumbotron">
          <h1>Modification d'une demande</h1>
          
            <a class="btn btn-lg btn-primary" href="{{ path('gseb_platform_homeaction', {'action': 'edit' }) }}" role="button">Modifier &raquo;</a>
          </p>
        </div>
        <div class="jumbotron">
          <h1>Suppression d'une demande</h1>
            <a class="btn btn-lg btn-primary" href="{{ path('gseb_platform_homeaction', {'action': 'delete' }) }}" role="button">Supprimer &raquo;</a>
          </p>
        </div>

    {% endblock %}