{# src/GSEB/PlatformBundle/Resources/views/Action/modif.html.twig #}

{% extends "@GSEBPlatform/layout.html.twig" %}

{% block title %}
  Supprimer une annonce - {{ parent() }}
{% endblock %}

{% block sebplatform_body %}

  <h2>Modifier une annonce</h2>

  <p>
    Voici la page de modif, c'est trop cool 
  </p>

{% endblock %}